body {
  font-family: "Times New Roman", Times, serif;
  background-color: #fce9d2;
  color: #ef512c;
  padding: 20px;
  font-size: 16px;
}

h1 {
  text-align: center;
}

#malla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.semestre {
  border: 1px solid #e22797;
  padding: 10px;
  width: 220px;
  background-color: #fff;
  border-radius: 10px;
}

.semestre h2 {
  text-align: center;
  color: #ef512c;
  font-size: 18px;
}

button.materia {
  width: 100%;
  margin: 4px 0;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

/* Estados de los botones */
.materia.desactivada {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.materia.activada {
  background-color: #e22797; /* Lila suave */
}

.materia.aprobada {
  background-color: #f3c8f3; /* Verde */
}

#contador-creditos {
  text-align: center;
  font-size: 1em;
  margin-bottom: 10px;
  font-style: italic;
  color: #fd9651;
}
